<% layout('layouts/boilerplate')%>
  <div class="col-12 mt-3 mb-3 d-flex justify-content-between">
    <h4 class="text-uppercase"><i class="fas fa-users mr-1"></i>Data user</h4>
    <a href="/user" class="btn btn-secondary"><i class="fas fa-arrow-left mr-1"></i>Kembali</a>
  </div>

  <% for(let user of users){ %>
    <div class="card mb-4 d-flex flex-column justify-content-center">
      <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Edit Data user
      </div>

      <form class="col-sm-12" method="POST" action="/user/<%=user.id%>?_method=PUT">

        <div class="form-group row">
          <label for="inputnama" class="col-sm-2 col-form-label">Nama</label>
          <div class="col-sm-10">
            <input type="text" name="user[nama]" value="<%= user.nama_user %>" class="form-control" id="inputnama"
              required>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputnama" class="col-sm-2 col-form-label">Username</label>
          <div class="col-sm-10">
            <input type="text" name="user[username]" value="<%= user.username %>" class="form-control" id="inputnama"
              required>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputnama" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input type="text" name="user[password]" value="<%= user.password %>" class="form-control" id="inputnama"
              required>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputtgl" class="col-sm-2 col-form-label">Tanggal Lahir</label>
          <div class="col-sm-10">
            <input type="date" name="user[tgl_lahir]" value="<%= user.tgl_lahir.toISOString().substr(0, 10) %>"
              class="form-control" id="inputtgl" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputnama" class="col-sm-2 col-form-label">Golongan Darah</label>
          <div class="col-sm-10">
            <!-- <input type="text" name="user[goldarah]" value="<%= user.gol_darah %>" class="form-control" id="inputnama"
              required> -->
              <select class="custom-select" name="user[goldarah]" id="sub" required>
                <option value="" selected >--Gol Darah--</option>
                <option value="A">A</option>
                <option value="AB">AB</option>
                <option value="B">B</option>
                <option value="O">O</option>
              </select>
          </div>
        </div>
       
        <div class="form-group d-flex flex-row-reverse">
          <button class="btn btn-success ml-1"><i class="fas fa-save mr-1"></i>Update</button>
          <button class="btn btn-primary" type="reset" value="reset"><i class="fas fa-sync-alt mr-1"></i>Reset</button>
        </div>

      </form>
      <% } %>
    </div>